---
import { getCollection, getEntryBySlug } from "astro:content";
import Layout from "../../layouts/BaseLayout.astro";

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((p) => ({ params: { slug: p.slug } }));
}

const { slug } = Astro.params;
if (!slug) throw new Error("Slug no encontrado");

const post = await getEntryBySlug("blog", slug);
if (!post) return Astro.redirect("/blog");

const { Content } = await post.render();
const { title, date, author, description } = post.data;
---

<div class="bg-[#F9FAFB]">
  <Layout title={title} description={description}>
    <section class="mx-auto max-w-4xl px-20 py-10 rounded-xl shadow-md mb-9">
      <!-- meta arriba a la izquierda -->
      <p class="text-sm text-muted mb-4">
        {date.toLocaleDateString()} · {author}
      </p>

      <!-- título centrado -->
      <h1
        class="text-center text-[var(--color-blue)] text-4xl font-extrabold tracking-tight mb-12"
      >
        {title}
      </h1>

      <!-- sin imagen en el detalle (tal como pediste) -->

      <!-- cuerpo -->
      <article class="post-content">
        <Content />
      </article>
    </section>
  </Layout>
</div>
