---
import { sanity } from "../../lib/sanity";
import { postBySlugQuery } from "../../lib/queries";
import { ptToHtml } from "../../lib/pt";
import Layout from "../../layouts/BaseLayout.astro";
import Container from "../../components/ui/Container.astro";

const { slug } = Astro.params;
const post = await sanity.fetch(postBySlugQuery, { slug });
if (!post) throw new Error("Post no encontrado");
const html = ptToHtml(post.body);
---

<Layout title={post.title} description={post.title}>
  <Container mx="auto" px="4" py="10">
    <article class="mx-auto max-w-3xl px-4 py-10">
      <p class="text-sm text-muted mb-4">
        {new Date(post.pubDate).toLocaleDateString()}
        {post.author ? `• ${post.author}` : ""}
      </p>

      <h1
        class="text-4xl font-bold tracking-tight mb-12 text-center text-[var(--color-blue)]"
      >
        {post.title}
      </h1>

      <div class="post-content" set:html={html} />
    </article>
  </Container>
</Layout>
